body
{
    background-image:url(images/bbgif.gif);
    background-size:500%;   
    color:white;
}

header
{
    position:fixed;
    background-color:#000;
    height:15.1%;
    left: 0;
    right: 0;
    top:0;
    margin:auto;
}


#blue-rectangle
{
    position:fixed;
    width:100%;
    height:20px;
    background-color: #00bdff; 
    left: 0;
    right: 0;
    top:15.1%;
}

#text
{
    position:fixed;
    width:20%;
    color:#0000ff;
    font-size: 100%;
    font-weight:bolder;
    height:20px;
    top:15.1%;
    text-align:center;

}
#text:hover{
    background-color: #bad0f4
}
table
{
    
    border-collapse: collapse;
    background-color: #206694;
}
th, td
{
    
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 120%;
}
#cmdcategorytriggered
{
    border-width:1px;
    border-style:solid;
    border-color:white;
    background-color: white;
    color:#206694;
    text-decoration: none;
}
#cmdcategory
{
    border-width:1px;
    border-style:solid;
    border-color:white;
    background-color: #206694;
    color:white;
    text-decoration: none;
}
#cmdcategory:hover
{
    background-color: blue
}